<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <title>CreateCustomerAccount</title>
</head>
<body>
<h1>Create Customer Account</h1>
<form class="CreateCustomerAccount" action="/CreateCustomerAccount" method="post">
    <input type="text" name="cUserName" placeholder="Username"><br><br>
    <input type="password" name="cPassword" placeholder="Password"><br><br>
    <input type="email" name="cEmail" placeholder="Email"><br><br>
    <input type="submit" value="Create Customer Account">
</form>
</body>
</html>