<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <title>CustomerLogin</title>
</head>
<body>
<h1>Customer Login</h1>
<form class="CustomerLogin" action="/CustomerLogin" method="post">
    <input type="text" name="cUserName" placeholder="Username"><br><br>
    <input type="password" name="cPassword" placeholder="Password"><br><br>
    <input type="submit" value="Customer Login">
</form>
</body>
</html>