<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <title>Farmer Login</title>
</head>
<body>
<h1>Farmer Login</h1>
<form class="CreateFarmerAccount" action="/CreateFarmerAccount" method="post">
    <input type="text" name="fUserName" placeholder="Username"><br><br>
    <input type="password" name="fPassword" placeholder="Password"><br><br>
    <input type="submit" value="Farmer Login">
</form>
</body>
</html>