<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <title>Farmer's Market</title>
</head>
<body>
<h1>Welcome to the Online Farmer's Market</h1>
<br>
<button onclick="window.location.href = 'http://localhost:3000/CreateCustomerAccount';">Create Customer Account</button>
<button onclick="window.location.href = 'http://localhost:3000/CustomerLogin';">Customer Login</button>
<br><br>
<button onclick="window.location.href = 'http://localhost:3000/CreateFarmerAccount';">Create Farmer Account</button>
<button onclick="window.location.href = 'http://localhost:3000/FarmerLogin';">Farmer Login</button>
</body>

</html>